h1 {
  font-family: 'Montserrat Subrayada', sans-serif;
  text-align: center;
}



#canvasContainer {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;

 /* justify-content: center;
  align-items: center;*/
}


#canvas {
  /*position: fixed;*/
  /*border: solid;*/
  border-color: #B1B1B1;
  margin: 6px;
  border-collapse: collapse;
  border: solid 7px #808080;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.cell {
  border: solid 0.5px #CFCFCF;
  width: 20px;
  height: 20px;
  color: #CFCFCF;
  background-attachment: fixed;
}

#controller {
  background-image: url(../assets/controller1.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  background-size: contain;
  margin: -85px 0px 0px 11%;
  /*  display: flex;
    justify-content: center;
    align-items: center;*/
}

#colorContainer {
  display: flex;
  padding: 19px;
  margin: 0px;
  position: absolute;

}

#colorBox {
  border: solid 4px;
  margin: 5px;
  padding: 10px;
  float: left;
}

#colors {
  display: flex;
  flex-direction: row;
  border: solid 2px #6D748C;
  padding: 2px;
  cursor: pointer;
  background-color: #FFFFFF;
/*  position: fixed;*/
}

.colorColumn {
  border: solid 0.5px;
  width: 20px;
  margin: 0px;
}

.td {
  background-color: black;
}

.colorButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 4px;
}

#buttonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-color: #F68A7D;
}

.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 25px 80px;
  display: inline-block;
  margin: 8px 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
}

.btn-2 {
  background: #cb4e4e;
  color: #fff;
  box-shadow: 0 6px #ab3c3c;
}

.btn-2i {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    left: 488%;
    top: 37px;

}

.btn-2j {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    left: 513%;
    top: 88px;
}

.btn-2k {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    left: 199%;
    /* right: 84%; */
    top: -42%;
}

.btn-2l {
    border-radius: 50%;
    width: 135px;
    height: 135px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    left: 164%;
    bottom: 33%;
}

/*#colorColumn1 {
  margin-bottom: 10px
}

#colorColumn2 {
  margin-bottom: 10px
}

#colorColumn3 {
  margin-bottom: 10px
}

#colorColumn4 {
  margin-bottom: 10px
}

#colorColumn5 {
  margin-bottom: 10px
}

#colorColumn6 {
  margin-bottom: 10px
}

#colorColumn7 {
  margin-bottom: 10px
}*/
